.socialimg {
  max-width: 300px;
  padding-top: 30px;
  margin-top: 50px;
}

.socialimg:hover {
  background-color: rgba(244, 213, 99);
  border-radius: 100%;
  cursor: pointer;
}

.socialwidth {
  height: 100vh;
  text-align: center;
}
