.jumbotron {
  background:linear-gradient(0deg,rgba(60,110,190,0.3)),url("./Images/alexishessler1.jpg");
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 90vh;
}

.jumbotitle {
  color: #f9d548;
  text-shadow: 1.3px 1.3px 1.3px black;
  margin-bottom: 0;
  font-size: 45px;
}

.jumbosubtitle {
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 1.3px 1.3px 1.3px black;
  font-weight: 300;
}

.surligner {
  display: inline;
  background-color: black;
}
